Flask==2.3.2
Flask-Session==0.5.0
Jinja2==3.1.2
SQLAlchemy==1.4.46
attrs==20.3.0
beautifulsoup4==4.12.2
certifi==2023.5.7
cs50==9.2.5
cryptography==40.0.2
html5lib==1.1
itsdangerous==2.1.2
jmespath==1.0.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
Pillow==9.5.0
pluggy==1.0.0
pytz==2023.3
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4.