{% extends "layout.html" %}

{% block title %}
    All Users Profiles
{% endblock %}

{% block main %}
<div class="container">
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Age</th>
            <th>Medical History</th>
            <th>Microchip #</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          {% for pet in allpets %}
          <tr>
            <td>{{ pet.name }}</td>
            <td>{{ pet.species }}</td>
            <td>{{ pet.age }}</td>
            <td>{{ pet.medical_history }}</td>
            <td>{{ pet.mircochip_number }}</td>
            <td>{{ pet.user_id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
