{% extends "layout.html" %}

{% block title %}
    All Users Profiles
{% endblock %}

{% block main %}
<div class="container">
    <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>User ID</th>

          </tr>
        </thead>
        <tbody>
          {% for user in allusers %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td> <a class="nav-link" href="{{url_for('userprofile', id=user.user_id)}}" id="profile-link">View</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
